<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
  </head>
  <body>
    <h1>User Profile</h1>
    <p>Nickname: <%= userDetails.nickname %></p>
    <p>About: <%= userDetails.about %></p>
    <img src="<%= userDetails.avatarUrl %>" alt="User Avatar" />
  </body>
</html>